@model List<ReaList.Library.Model.Complaints.ComplaintsModel>

@{
    ViewData["Title"] = "Complaints";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Complaints</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/complaints.css">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Bootstrap Font and Icons 1.3.0 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
</head>

<body>
    <main>
        <div class="d-flex container justify-content-center">
            <div class="row g-3 col-md-12">

                <div class="container">
                    <div class="row mt-5">

                        <!-- text header -->
                        <div class="container col-md-6">
                            <h3 class="text-header">Complaints History</h3>
                        </div>

                        <div class="container col-md-6 add-new-button">
                            <a asp-action="AddComplaint" class="btn add-new" role="button">
                                <i class="bi bi-plus" aria-hidden="true"></i><b>Submit a New Complaint</b>
                            </a>
                        </div>
                        
                        @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
                        {
                            <div class="alert alert-success">@ViewBag.SuccessMessage</div>
                        }

                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Subject</th>
                                    <th>Details</th>
                                    <th>Complaint Category</th>
                                    <th>Date of Event</th>
                                    <th>Date Submitted</th>
                                    @*<th>File Submitted</th>*@
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var complaint in Model)
                                {
                                    <tr>
                                        <td>@complaint.ComplaintID</td>
                                        <td>@complaint.ComplaintSubject</td>
                                        <td>@complaint.ComplaintDetails</td>
                                        <td>@complaint.ComplaintCategoryName</td>
                                        <td>@complaint.DateOfEvent.Month/@complaint.DateOfEvent.Day/@complaint.DateOfEvent.Year</td>
                                        <td>@complaint.DateCreated.Month/@complaint.DateCreated.Day/@complaint.DateCreated.Year</td>
                                        @*<td>@complaint.ComplaintImages</td>*@
                                        <td>@complaint.ComplaintStatusName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </main>
</body>
</html>